@using Web.Requests
@using Web.ViewModels
@{
    ViewData["Title"] = "Trang chủ";
}
@section banner {
<div class="hero__item set-bg" data-setbg="https://topbag.vn/uploads/images/banner/hover/topbag-hp603.jpg">
    <div class="hero__text">
    </div>
</div>
}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in ViewData["categories"] as IList<CategoryViewModel>)
                {
                    @foreach (var i in item.Categories)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="../../img/img-not-found.jpg">
                                <h5><a  asp-controller="Shop" asp-action="GetProductByCategory" asp-route-categoryId="@i.Id">@i.Name</a></h5>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>SẢN PHẨM MỚI</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>

                        @foreach (var item in ViewData["categories"] as IList<CategoryViewModel>)
                        {
                            @foreach (var i in item.Categories)
                            {
                                <li data-filter=".filter-@i.Id">@i.Name</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model.Products)
            {
                <form method="get" action="@Url.Action("AddCart", "ShoppingCart")" style="display:none" id="form-@item.Id">
                    <input type="hidden" name="ProductId" value="@item.Id"/>
                    <input type="hidden" name="Quantity" value="1"/>
                </form>

                    <div class="col-lg-3 col-md-4 col-sm-6 mix filter-@item.Category.Id">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="../../img/product/@item.Image">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="javascript:{}" onclick="submitProductId(@item.Id)"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="javascript:{}" onclick="submitProductId(@item.Id)"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="javascript:{}" onclick="submitProductId(@item.Id)" id="addCart-@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a asp-controller="Shop" asp-action="GetProductById" asp-route-id="@item.Id">@item.Name</a></h6>
                                <h5>@item.Price.ToString("0#,##0")đ</h5>
                            </div>
                        </div>
                    </div>
            }

        </div>

    </div>
</section>
<!-- Featured Section End -->

